@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50;
  }
}

/* Animations */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

/* Base form styling for inputs/selects */
input,
select,
textarea {
  @apply border border-gray-100 px-3 py-2 outline-none;
}
